:root {
    --pColor: #333333;
    --sColor: #78c0a9;
    --hFont: 'Courier New', Courier, monospace;
    --tFont: sans-serif;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

/* Styling for the first banner with navigation links. */
header {
    background-color: var(--pColor);
    border: 5px solid var(--pColor);
    padding: 25px;
    display: flex;
}

header section {
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-family: var(--tFont);
    color: var(--sColor);
    width: 50%;
}

header section h1 {
    display: flex;
    align-items: center;
}

header section img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50px;
    display: flex;
    margin-right: 20px;
    filter: grayscale(100%);
}

header nav {
    display: flex;
    justify-content: right;
    font-size: 16px;
    font-family: var(--hFont);
    color: var(--sColor);
    width: 50%;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: right;

}

header nav ul li {
    margin: 5px;
    color: var(--sColor);
    position: relative;
    align-items: center;
    display: flex;
    margin-right: 15px;
    text-decoration: underline;
    text-decoration-color: var(--sColor);
}

header nav ul li:hover {
    filter: opacity(70%)
}

header nav ul li a {
    color: var(--sColor);
}

/* Styling for the second banner. */
.banner_2 {
    height: 80px;
    background-color: var(--sColor);
    color: var(--pColor);
    display: flex;
    width: 100%;
    font-family: var(--tFont);
    justify-content: center;
    align-items: center;
}

/* Fomatting for all body class header sections. Created the outline of all figures sections within body. */

.body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    margin: 10px;
}

.body h2 {
    border-right: solid var(--sColor) 3px;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
    font-family: var(--hFont);
    font-size: 24px;
    color: var(--pColor)
}

/* Styling for biography. */
#bio p {
    margin-bottom: 20px;
    font-family: var(--tFont);
    color: var(--pColor)
}

/* Styling for projects section figures. Limited each figures space to only half the alotted space.
 Positioned figcaption within the image.*/
.fig_sect {
    grid-template-columns: 50% 50%;
    display: grid;
    margin-bottom: 20px;
}

figure {
    min-width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

figure figcaption {
    font-family: var(--tFont);
    color: var(--pColor);
    background-color: var(--sColor);
    border: 5px solid var(--sColor);
    padding: 3px;
    display: block;
    position: absolute;
}

figure figcaption p {
    font-family: var(--tFont);
    font-size: 10px;
}

figure img {
    width: 95%;
    border: var(--sColor) solid 5px;
}

#projects img:hover {
    filter: opacity(70%)
}

/* Styling for bigger container in projects section. Increased the cell size for the container. */
.bigger {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.bigger img {
    width: 97.5%;
}

.bigger figure {
    text-align: center;
}


/* Styling for contact info. */
#contact ul {
    display: flex;
    font-size: 16px;
    font-family: var(--tFont);
    justify-content: space-around;
    margin-bottom: 20px;
}

#contact ul li {
    font-family: var(--tFont);
    color: var(--pColor);
    text-decoration: underline;
    text-decoration-color: var(--sColor);
}

#contact ul li a:hover {
    filter: opacity(70%)
}

/* Media queries for smaller screens. Tablets displayed the site well so no adjustments required. */
@media screen and (max-width: 768px) {

    /* Makes header into two rows. */
    header {
        flex-direction: column;
    }

    header section {
        width: 100%;
        justify-content: center;
    }

    header nav {
        width: 100%;
        justify-content: center;
    }

    /* Section title above rather than besides. */
    .body {
        display: block;
        margin: 10px;
    }

    .body h2 {
        border-right: solid var(--sColor) 0px;
        margin-right: 0px;
        padding-right: 0px;
        text-align: left;
        border-bottom: solid var(--sColor) 3px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {

    /* Makes all project boxes the same size. */
    .fig_sect {
        display: block;
    }

    .bigger img {
        width: 95%;
    }

    /* Makes contact info and links into a column. */
    #contact ul {
        flex-direction: column;
        justify-content: center;
    }

    #contact ul li {
        justify-content: center;
        display: flex;
        margin: 3px;
    }
}